*{
    padding: 0;
    margin: 0;
    font-family: serif, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 25px;
}

.f-div{
    background: url(images/lawyerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
}

.nav-sec{
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 625px;
    position: fixed;
    top: 0;
    background-color: antiquewhite;
    width: 100%;
}

nav .f-ul .f-li{
    display: inline-block;
    list-style: none;
    margin: 20px;
}

nav .f-ul .f-li a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.home h1{
    font-size: 60px;
    margin-top: 5%;
    color: #fff;
    padding-left: 200px;
}

.home h3{
    margin-top: 3%;
    font-size: 20px;
    padding-left: 70px;
    color: #fff;
}

.home p{
    margin-top: 1%;
    padding-left: 290px;
    color: #fff;
    font-size: 25px;
}

 /*need hover*/
.f-btn{
    display: block;
    margin-left: 900px;
    width: fit-content;
    border: 3px solid blue;
    padding: 14px 50px;
    background-color: blue;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
}

.f-btn:hover{
    background-color: #000;
    border: #000 solid 3px;
}

/*second div*/
.s-div{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
}

.right-info{
    float: right;
    width: 25%;
    padding-right: 130px;
    margin-top: -7%;
}

.left-info h1{
    margin-top: 20%;
    padding-left: 150px;
    font-size: 50px;
}

.f-p{
    margin-top: 20px;
    padding-left: 110px;
    font-size: 25px;
}

.s-p{
    padding-left: 120px;
    font-size: 25px;
}

.t-p{
    padding-left: 150px;
    font-size: 25px;
}

.fo-p{
    padding-left: 110px;
    font-size: 25px;
}

.fi-p{
    padding-left: 150px;
    font-size: 25px;
}

.s-btn{
    display: block;
    margin-top: 5%;
    margin-left: 300px;
    width: fit-content;
    border: 3px solid blue;
    padding: 14px 50px;
    background-color: blue;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
}

.s-btn:hover{
    background-color: #000;
    border: #000 solid 3px;
}

/*third div*/
.t-div{
    background: #454545;
    width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin: 70px 20px 20px 20px;
}
    
.container1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
    
.box1,.box2{
    width: 150px;
    height: 120px;
    margin-left: 300px;
    padding: 65px;
    margin-bottom: 20px;
}

.box3{
    width: 150px;
    height: 120px;
    margin-right: 20px;
    padding: 65px;
    margin-bottom: 20px;
}

.box4{
    width: 150px;
    height: 120px;
    margin-right: 150px;
    margin-bottom: 20px;
}
    
.box1{
    background-color: rgb(50, 50, 214);
}
    
.box2{
    background-color: rgb(255, 255, 255);
}
    
.box3{
    background-color: rgb(160, 160, 160);
}
    
.caption{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    margin: 260px 20px 20px 20px;
    color: white;
    padding-left: 150px;
}
    
#e1{
    position: relative;
    left: 2%;
    font-size: 18px;
    color: #000;
}
    
#e2{
    position: relative;
    left: 2%;
    font-size: 15px;
    color: #000;
}
    
.image{
    width: 186%;
    height: 210%;
    object-fit: cover;
}
/*fourth div*/
.fo-div{
    background: #fff;
    width: 100%;
    height: 100vh;
}

.img{
    display: block;
    width: 90%;
    height: 40%;
    padding: 28px 0 10px 80px;
}

.fo-left-infos{
    float: left;
    margin-top: 30px;
    padding-left: 150px;
}

.fo-right-info{
    float: right;
}

.fo-right-info h3{
    font-size: 20px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.fo-right-info .fo-ul .fo-li{
    font-size: 20px;
    padding: 3px;
}
/*fifth div*/
.fi-div{
    background: #E4DCCF;
    width: 100%;
    height: 150vh;
}

.up-info h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    font-size: 50px;
    padding-bottom: 10px;
}

.up-info h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 50px;
}

.fi-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fi-sect{
    border: #fff solid 5px;
    background-color: #fff;
    margin: 20px;
    padding: 80px;
    border: 10px 0;
}

hr{
    margin: 5px;
}

.fi-sect p{
    font-size: 25px;
    padding-bottom: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.fi-sect h4{
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

/*sixth div*/
.si-div{
    background: #1F1A1A;
    width: 100%;
    height: 100vh;
}

.si-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-top: 75px;
    font-size: 20px;
    padding-left: 70px;
    color: #fff;
}

.cntr-cntc{
    padding-left: 480px;
    /*padding-top: 20px;*/
    color: #fff;
}

.cntr-cntc h2{
    padding-bottom: 25px;
    font-size: 45px;
}

.f-cntc{
    padding-bottom: 25px;
    font-size: 20px;
}

.s-cntc{
    padding-bottom: 25px;
    font-size: 20px;
}

.off-hrs{
    padding-right: 200px;
    padding-top: 30px;
    color: #fff;
}

.off-hrs h2{
    padding-bottom: 25px;
    font-size: 45px;
}

.wkdys{
    padding-bottom: 25px;
    font-size: 20px;
}

.wknds{
    padding-bottom: 25px;
    font-size: 20px;
}

.cls{
    padding-bottom: 25px;
    font-size: 20px;
}

.socials{
    padding-left: 480px;
    color: #fff;
}

.socials h3{
    padding-bottom: 10px;
}

.socials i{
    padding: 5px;

}

.socials a{
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
}

.socials a:hover{
    color: rgb(34, 34, 207);
    transform: translateY(-5px);
}

.footer{
    color: #fff;
    float: right;
    padding-top: 80px;
    padding-right: 90px;
}